body {
  background: darken(#f2f2f2, 5%);
  font-family: Helvetica, Arial, sans-serif;
  margin: 0;

  h1 {
    font-size: 24pt;
    font-weight: 200;
    text-align: center;
  }

  img {
    width: 100%;
  }
}

.examples {
  display: flex;
  margin: 30px auto 80px;
  width: 80vw;
}

.example {
  background: white;
  box-shadow: 0 1px 10px -1px rgba(0,0,0,0.1);
  margin: 20px;
  width: 50%;

  &.example-fake {

    img {
      width: 80%;
      margin: auto;
      flex: 1;
      display: block;
    }
  }

  &.example-toggle {
    display: flex;
  }
}
