body {
  background: #81c0d5;
  font-family: Helvetica, Arial, sans-serif;
  margin: 0;
  transition: all 440ms ease;

  h1 {
    font-size: 24pt;
    font-weight: 200;
    text-align: center;
  }

  img {
    width: 100%;
  }

  &.nite {
    background: #484848;

    h1 {
      color: white;
    }
  }
}

.examples {
  display: flex;
  margin: 30px auto 30px;
  width: 80vw;
}

.example {
  background: white;
  box-shadow: 0 1px 10px -1px rgba(0,0,0,0.1);
  margin: 20px;
  width: 50%;

  &.example-fake {

    img {
      width: 80%;
      margin: auto;
      flex: 1;
      display: block;
    }
  }

  &.example-toggle {
    display: flex;
  }
}

.example-credits {
  display: flex;
  margin: 0 auto 80px;
  width: 80vw;
  text-align: center;

  a {
    color: grey;
    flex: 1;
    text-decoration: none;
  }
}
